.content{
  width: 1024px;
  margin: 0 auto;
  /*border-top: 2px orange solid;*/
  margin-top: 10px;
}
.content .contentLeft{
  width: 750px;
  float: left;
  height: 100%;
  border-right: 2px orange solid;
}
.content .contentRigt li{
  list-style: none;

}
.content .contentRight{
  width: 250px;
  float: left;
  height: 100%;
  background:-webkit-gradient(linear,0 50%,100% 50%,from(#ace),to(#f96));
  padding: 10px;

}

.footer{
  height: 70px;
  background-color: #ededed;
  clear: both;
}
.footer p{
  text-align: right;
  line-height: 70px;
  margin-top: 30px;
}
.contentRight ul{
list-style-type:none;
}
