.row{
	margin-bottom: 2px orange solid;
}
.contentRight img{
	width: 60px;
	height: 70px;
}

.contentRight{
	font-size: 12px;
	padding: 10px;
}
.contentRightleft{
	border-right: 2px orange solid;
	width: 110px;
	float: left;
	padding-right: 10px;
}

.contentRight ul{
list-style-type:none;
padding: 0;
}
.contentRightright{
	/*margin-left: 10px;*/
	/*display: block;*/
	width: 100px;
	float: right;
}
.contentRight ul li{
	display: inline;
}
.contentRight .img{
	margin-bottom: 10px;
	border-bottom: 1px black dashed;
}