
#login h1 a{background:url(amplab_logo.png) no-repeat;
width: 326px;
}
/*Uncomment it and edit all sections with your code formatting */
/*
body.login {
}
#login {
}
#loginform {background:none;}
#loginform  p{}
#loginform label{ font-family:georgia,"Times new Roman",serif;
font-size:1.2em;}

#wp-submit{ }

#forgetmenot {}

#backtoblog a
{
background-color:#fff;
}
#nav {

}
.message{
}
*/
