/*
Theme Name:     AmpLab Theme
Theme URI:      
Description:    Theme for amp.cs.berkeley.edu
Author:         BlinkTag, Inc.
Author URI:     http://blinktag.com
Template:       twentyeleven
Version:        0.1.0
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* =Structure
----------------------------------------------- */

body {
    
}

#page {
    max-width: 1024px;
    margin: 0 auto;
    width:1024px;
    padding-left:40px;
    padding-right:40px;
}

#primary {
  width:715px;
  float:left;
}

.home #primary {
	width: 735px;
}

#content {
    width: 715px;
    margin-right: 4px;
}

#secondary {
    width: 287px;
}

/* =Global
----------------------------------------------- */

body, input, textarea {
    color: #595674;
    font-family: 'Didact Gothic', arial, serif;
}

body {
    background: #fff;
    font-size: 14px;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
h1,h2,h3 {
    margin-bottom: 15px;
		font-weight: bold;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
hr {
  clear:both;
  border: 0;
  border-style: none;
  height: 1px;
}

/* Text elements */

p {
  margin: 10px 0;
  font-size: 14px;
}

strong {
    font-weight: bold;
}

cite, em, i {
    font-style: italic;
}

blockquote {
    font-style: italic;
    margin: 0 3em;
}

blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}

input[type=text],
textarea {
	border: 1px solid #bdbdc7;
}

/* Links */
a {
    color: #0086df;
    text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}

/* Assistive text */
.section-heading,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}



/* =Header
----------------------------------------------- */

#site-title {
  background: url(images/amplab_logo.png);
  width: 285px;
  height: 66px;
  margin-bottom: 9px;
  float: left;
  margin-top:15px;
}

#site-title a{
  display:block;
  text-indent:-9999px;
  width:285px;
  height:66px;
}


#nsf{
  width:290px;
  float:right;
  font-size:17px;
  line-height:20px;
}

#nsf a{
  float:right;
  display:block;
  margin-top:10px;
}

#nsf .text{
  width:210px;
  float:left;
  margin-top:25px;
}

li.page-item-24, 
li.page-item-26 {
    background: transparent;
    float: right;
    border: none;
    margin: 0;
    padding: 0;
    color: #595b74;
}

#topNav{
  clear:both;
}


/* =Menu
-------------------------------------------------------------- */

#access {
  width:760px;
  clear: both;
  float: left;
}

#access ul {
  list-style: none;
  padding-left: 0;
}

#access li {
  float: left;
  margin: 0 1px;
}

#access a {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #f4b445;
    color: #595674;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    min-width: 105px;
    min-height: 17px;
    padding-top: 6px;
    font-weight: bold;
}

#access li:hover > a,
#access ul ul :hover > a,
#access .current_page_item a,
#access .current-menu-item a {
	background: #595674;
	color:#fff;
}
#access ul li:hover > ul {
	display: block;
}

#login{
  display:inline-block;
  width:100px;
}

#login ul {
    list-style: none;
    padding-left: 50px;
}

#login li {
    float: left;
    margin: 0 1px;
}

#login a {
    color: #595b74;
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    min-width: 40px;
    min-height: 17px;
    padding-top: 6px;
    font-weight: bold;
}

#login a:hover{
  color: #f4b445;
}

/* Search Form */
#branding #searchform {
	float: right;
}
#branding #searchform div {
	margin: 0;
}
#branding #s {
	-moz-border-radius: 1px;
	border-radius: 1px;
	float: right;
	font-size: 10px;
	height: 15px;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	width: 160px;
	margin-bottom: -25px;
}

#branding #s:focus {
	background-color: #fce8c7;
}
#branding #searchsubmit {
	display: none;
}

/* =Content
----------------------------------------------- */

#main {
    clear: both;
    overflow:hidden;
}

#content {
  border-right: 2px solid #f4b445;
	min-height: 660px;
	padding-top: 20px;
	padding-right: 20px;
	float: left;
	padding-bottom: 0;
	line-height: 18px;
}

.home #content {
	width: 735px;
	padding-right: 0;
}

.page-title {
    color: #1f284f;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.page-title a {
    color: #1F284F;
}

.page-header{
  overflow:hidden;
}

.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.entry-title {
	clear: both;
	color: #1f284f;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 0 0;
}
.entry-title,
.entry-title a {
	color: #1f284f;
	text-decoration: none;
}
.entry-title a:hover {
	color: #f4b445;
}
.entry-meta {
	color: #666;
	clear: both;
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0;
	position: inline;
}
.entry-meta a {
	font-weight: bold;
}
.entry-content,
.entry-summary {
	padding: 0;
	margin-bottom:15px;
	font-size: 14px;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.comment-content h1,
.comment-content h2,
.comment-content h3 {
    color: #1f284f;
    font-weight: bold;
}
.entry-content h1,
.comment-content h1 {
    font-size: 20px;
    line-height: 20px;
}
.entry-content h2,
.comment-content h2 {
    font-size: 18px;
    line-height: 15px;
}
.entry-content h3,
.comment-content h3 {
    font-size: 14px;
    line-height: 10px;
    text-transform: none;
}
.entry-content p {
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 14px;
}
.entry-content ul li {
    margin-bottom: 5px;
}
.entry-content ul, ol {
	margin: 0 0 15px 30px;
}
.entry-content ul {
	list-style: disc;
}
.entry-content ol {
	list-style-type: decimal;
}
.entry-content ol ol {
	list-style: upper-alpha;
}
.entry-content ol ol ol {
	list-style: lower-roman;
}
.entry-content ol ol ol ol {
	list-style: lower-alpha;
}
.entry-content ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

.entry-content table,
.comment-content table {
    border-collapse: collapse;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
    border: none;
    vertical-align: center;
    padding: 5px 10px;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.625em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}
dl.gallery-item {
	margin: 0;
}
.page-link {
	background: #f1f1f1;
	border-top: 1px solid #ddd;
	clear: both;
	color: #888;
	display: block;
	font-size: 13px;
	margin: 1.625em -30px;
	padding: 4px 30px;
	text-decoration: none;
}
.page-link a {
	background: #d8d8d8;
	color: #444;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #777;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a {
	background: #aaa;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	padding: 0px 8px;
}
.entry-meta .edit-link a:hover {
	background: #777;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}

/* Author Info */
#author-info {
	font-size: 14px;
	overflow: hidden;
}
.singular #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.2em 0;
	padding: 20px 5%;
}
.archive #author-info {
	border-bottom: 1px solid #ddd;
	margin: 0 0 2.2em;
	padding: 0 0 2.2em;
}
#author-avatar {
	float: left;
	width:186px;
	text-align:center;
  margin-bottom:10px;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	padding: 3px;
}
#author-link {
  padding-top:5px;
}

/* Comments link */
.entry-header .comments-link a {
	background: #eee;
	border: 1px solid #ddd;
	-moz-border-radius: 24px;
	border-radius: 24px;
	color: #777;
	font-size: 18px;
	font-weight: 300;
	line-height: 48px;	
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
}
.entry-header .comments-link a:hover {
	background: #777;
	border-color: #555;
	color: #fff;
}
.entry-header .comments-link .leave-reply {
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-transform: lowercase;
	top: -1px;
}
/*
	Post Formats Headings
	To hide the headings, display: none the ".entry-header .entry-format" selector,
	and remove the padding rules below.
*/
.entry-header .entry-format {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	position: absolute;
	text-transform: uppercase;
	top: -5px;
}
.entry-header hgroup .entry-title {
	padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
	padding: 20px 0 0;
}
.recent-posts .entry-header .entry-format {
	display: none;
}
.recent-posts .entry-header hgroup .entry-title {
	padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
	border-bottom: none;
	position: relative;
}
.singular.page .hentry {

}

.singular .entry-title {
    color: #1f284f;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.singular .entry-title,
.singular .entry-header .entry-meta {
	padding-right: 0;
}
.singular .entry-header .entry-meta {
	left: 0;
	margin-bottom:5px;
}
.singular blockquote.pull {
	font-size: 21px;
	font-weight: bold;
	line-height: 1.6125em;
	margin: 0 -22.25% 1.625em;
}
.singular .pull.alignleft {
	margin: 0 1.625em 0 -22.25%;
}
.singular .pull.alignright {
	margin: 0 -22.25% 0 1.625em;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
	width: 33%;
}
.singular .entry-meta .edit-link a {
	bottom: auto;
	color: #fff;
	left: 50px;	
	position: absolute;
	right: auto;
}
img.avatar {
    margin-right: 30px;
    float: left;
}
.vcard {
}

/* =Sidebar
----------------------------------------------- */

#secondary {
    position: relative;
    float: right;
    background: rgb(188,205,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(188,205,226,1) 0%, rgba(255,255,255,1) 20%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,205,226,1)), color-stop(20%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(188,205,226,1) 0%,rgba(255,255,255,1) 20%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(188,205,226,1) 0%,rgba(255,255,255,1) 20%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(188,205,226,1) 0%,rgba(255,255,255,1) 20%); /* IE10+ */
    background: linear-gradient(top, rgba(188,205,226,1) 0%,rgba(255,255,255,1) 20%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bccde2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    min-height: 450px;
    padding: 24px 0 15px 0;
}

.home #secondary {
	padding-top: 0;
}

#secondary h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

/* =People
----------------------------------------------- */

.people{
  margin-top:5px;
}

.people .entry-title{
  display:inline-block;
  margin-bottom:0;
}

.people .author-description{
  margin-top:15px;
}


/* =Aside
----------------------------------------------- */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
	display: none;
}
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 10px 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title,
.format-link .entry-header .comments-link {
	display: none;
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {
	padding: 10px 0 0;
}

/* =Images
----------------------------------------------- */

img.size-auto,
img.size-large,
img.size-full,
img.size-medium,
img.size-thumbnail {
	height: auto;
	max-width: 100%;
}
img.wp-smiley {
	margin-bottom: 0;
	margin-top: 0;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	max-width: 96%;
}
.wp-caption p {
    margin: 0;
    padding: 0;
}
.wp-caption img {
	display: block;
	margin: 5px auto 0;
	max-width: 98%;
}
.wp-caption .wp-caption-text {
	color: #595674;
	font-size: 14px;
	position: relative;
	text-align: right;
	font-style: italic;
	margin-right: 8px;
}
.wp-caption .wp-caption-text:before {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
.gallery-caption {
}
img#wpstats {
    display: none;
    margin: 0 auto 1.625em;
}
.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.alignright {
    float:right;
    margin-left: 20px;
    margin-bottom: 10px;
}
.aligncenter {
    margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}
#content nav a {
	font-size: 14px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Singular navigation */
#nav-single {
	display: inline-block;
	overflow: visible !important;
	position: absolute;
	top: -4px;
	right: 0;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* =Widgets
----------------------------------------------- */

.widget-area {
	font-size: 14px;
}
.widget {
	margin: 0 0 2.2em;
}
.widget-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.widget ul {
	font-size: 15px;
	margin: 0;
}
.widget ul ul {
	margin-left: 1.5em;
}
.widget ul li {
	color: #777;
	font-size: 13px;
}
.widget a {
	font-weight: bold;
	text-decoration: none;
}
.widget a:hover {
	text-decoration: underline;
}

/* Search Widget */
.widget_search form {
	margin: 0 0 1.625em;
}
.widget_search #s {
	width: 58%;
}
.widget_search #searchsubmit {
	background: #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1b8be0;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* =Comments
----------------------------------------------- */

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 auto 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-weight: bold;
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 14px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
    color: #1f284f;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -82px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	font-size: 14px;
	font-weight: bold;
	color: #1f284f;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #fcecd0;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #fcecd0;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 15px 15px 45px 15px;
	position: relative;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 65px;
	min-height: 20px;
	padding: 6px 0 2px 4px;
	position: relative;
	top: 30px;
	z-index: 1;
}
.rtl #respond .comment-form-author label,
.rtl #respond .comment-form-email label,
.rtl #respond .comment-form-url label,
.rtl #respond .comment-form-comment label {
	-webkit-box-shadow: -1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: -1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: -1px 2px 2px rgba(204,204,204,0.8);
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	width: 90%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #f4b445;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 30px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 0;
}
#respond .form-submit {
	float: right;
	margin-top: 5px;
}
#respond input#submit {
	background: #1f284f;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin-bottom: 15px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1b8be0;
	color: #1f284f;
}
#respond input#submit:hover {
    background: #f4b445;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {

}
#respond input[type=text] {
	display: block;
	height: 15px;
	width: 75%;
}
#respond p {
	font-size: 14px;
}
p.comment {
    margin: 0;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}


/* =Footer
----------------------------------------------- */

#footer-left, 
#footer-right {
    background: #f4b445;
    height: 15px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;    
}

#footer-left {
    float: left;
    width: 736px;
}
#footer-menu {
    float: left;
    padding-top: 10px;
	padding-bottom: 20px;
}
#footer-menu ul.menu li {
    float: left;
    font-size: 12px;
    margin-right: 7px;
    text-transform: lowercase;
}
#footer-menu ul.menu li:before {
    content: '/\0000a0\0000a0\0000a0';
}
#footer-menu ul.menu li:first-child:before {
    content: '';
}
#footer-menu ul.menu li a {
    color: #595674;
}
#footer-right {
    width: 286px;
    float: right;
}

#footer-link{
  width:160px;
  height:31px;
  float: left;
  margin-left: 55px;
}

#colophon {
	clear: both;
	float: left;
}

#site-generator {
    float: right;
    font-size: 12px;
    padding-top: 10px;
	padding-bottom: 20px;
}

/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content:" [" attr(href) "] "; /* Show URLs */
	}	
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
	    margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
	    float: left;
	    margin: 0;
	}
	#content {
	    margin: 0;
	}
	.singular #content {
	    margin: 0;
	}
	.singular .entry-header .entry-meta {
	    position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
	    background: none;
	    border-bottom: none;
	    border-top: none;
	    margin: 2.2em 0 0;
	    padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}
	
	/* Comments */
	.commentlist > li.comment {
	    background: none;
	    border: 1px solid #ddd;
	    -moz-border-radius: 3px 3px 3px 3px;
	    border-radius: 3px 3px 3px 3px;
	    margin: 0 auto 1.625em;
	    padding: 1.625em;
	    position: relative;
	    width: auto;
	}
	.commentlist .avatar {
		height: 39px;
	    left: 2.2em;
	    top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
	    line-height: 1.625em;
	    margin-left: 50px;
	}
	.commentlist li.comment .fn {
	    display: block;
	}
	.commentlist li.comment .comment-content {
	    margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}
}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -7.6%;
	margin-right: -7.6%;
	padding-left: -7.6%;
	padding-right: -7.6%;
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -7.6%;
	margin-right: -7.6%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 7.6%;
}


/* =Homepage styles
----------------------------------------------- */

#amp {
    width: 736px;
    height: 250px;
    border-bottom: 2px solid #f4b445;
    padding: 0 0 15px 0;
    margin-top: -10px;
}

#amp-img {
    float: left;
    width: 355px;
    height:246px;
    overflow:hidden;
    position: relative;
}

#amp-img img{
    display:none;
    position:absolute;
}

#amp-img .on,
h2.on {
  display:block;
}

#amp-content {
    float: right;
    width: 350px;
    padding-right: 15px;
    line-height: 18px;
}
#amp-content p {
    font-size: 14px;
}
#amp-content h2 {
    display: none;
}
#amp-content h2.on {
    display: block;
    border-top: 1px solid #f4b445;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    color: #f4b445;
}

#amp-content a:hover{
  text-decoration:none;
}

#amp-menu a{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  padding-right:4px;
  font-weight:bold;
  text-transform: uppercase;
  color: #595674;
}

#amp-menu a.on{
  color: #F4B445;
  text-decoration: none;
}

#amp-text{
  position:relative;
}

#amp-text p{
  display:none;
  position:absolute;
}

#amp-text p#machines-text {
    width: 346px;
}

#amp-text p.on{
  display:block;
}

span.on,
h2.show {
    color: #f4b445;
}

span.off {
    color: #595b74;
}

#events{
  border-bottom: 2px solid #F4B445;
  overflow:hidden;
  position:relative;
}

#events h1 a{
  color: #1F284F;
  font-weight:bold;
}

#events ul li{
  width:207px;
  float:left;
  margin:0 15px;
}

#moreEvents{
  display:block;
  position:absolute;
  bottom:5px;
  right:5px;
}

#featured {
  width: 700px;
  min-height: 240px;
  padding: 15px 0 15px 15px;
  float: left;
  font-size: 14px;
  line-height: 18px;
  overflow:hidden;
}

#featured h2 {
  color: #1f284f;
  font-weight: bold;
  margin-bottom: 15px;
}


#featured img {
    width: 300px;
    float: right;
}

#featured h3 {
    font-size: 14px;
    line-height: 18px;
    display:inline;
    font-weight:bold;
}

#news,
#sponsors {
    min-height: 758px;
    margin: 0;
    padding: 0;
    float: left;
}

#news {
    width: 140px;
    font-size: 11px;
    text-align: left;
    padding-right: 5px;
    border-right: 2px solid #f4b445;
}
#news h1 a {
    color: #1F284F;
}
#news ul {
    padding-left: 5px;
}

#news h1 {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 700;
    color: #1f284f;
    text-transform: uppercase;
    background: url('images/home/lg_tri.png') no-repeat 0 0;
    padding-left:20px;
}

#news li h2 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #1f284f;
    font-weight: 700;
}

#news li h2 a{
    color: #1f284f;
}

#news ul li {
    padding: 5px 5px 15px 0;
    border-bottom: 1px dotted #1f284f;
}

#news ul li:last-child {
    border: none;
}

#news ul li img{
  display:block;
  margin-right:2px;
  margin-bottom:2px;
}

#news .more{
  text-align:right;
  display:block;
  margin-bottom:3px;
}

#blogList{
  border-bottom: 1px dotted #1F284F;
}

#sponsors {
    width: 120px;
}

#sponsors h3 {
	margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    background: url('images/home/sm_tri.png') no-repeat 0 4px;
}

#sponsors h3:first-of-type {
	margin-top: 10px;
}

#sponsors h3:last-of-type {
	margin-top: 60px;
}

#sponsors ul {
    text-align: center;
}

#sponsors ul li {
    margin: 0 auto 10px auto;
    width: 75px;
    display: block;
}

#sponsors ul.social li {
  display:inline;
  margin:0 4px;
  width:inherit;
}



/* Cosmetic Extras - Site Template */

hr.dark,
hr.med,
hr.light,
hr.blue {
  height: 2px;
  position: relative;
}

hr.dark {
  background-color: #f4b445;
  margin: 0;
}  

hr.med {
  background-color: #f9d9a1;
}

hr.light {
  background-color: #fce8c7;
}

hr.blue {
  background-color: #3e74b0;
  margin: 0;
}
hr.sidebar {
  height: 1px;
  background-color: #C4C4C4;
}

table.sponsors {
    margin-bottom: 25px;
}
table.sponsors td {
    text-align: center;
    padding: 10px 20px;
}
table.sponsors td a img {
    vertical-align: middle;
}
.news-events-page a {
    margin-bottom: 30px;
    position: relative;
}

.year-label{
  font-weight:bold;
  font-size:150%;
  margin:10px 0;
}

article.publication{
  margin:10px 0;
}

#searchSortControls{
  float:left;
  width:350px;
  font-size:12px;
}

.sortControl{
  display:inline;
  margin-right:10px;
}

#searchSortControls a{
  font-weight:bold;
}

#publications-searchform{
  float:right;
  width:200px;
}

#secondary .menu,
#secondary aside{
  margin:0 15px 30px 15px;
}

#secondary .menu li,
#secondary aside li{
  margin:10px 0;
}

#secondary .menu li a,
#secondary aside li a{
  color: #595674;
  font-size:120%;
}

#sidebar-search{
  margin:0 10px 25px;
}

#secondary h2{
  font-size:18px;
  font-weight:bold;
  margin:0 15px;
  text-transform: uppercase;
}

#tagcloud{
  text-align:justify;
  margin:5px 15px;
}

.tags a{
  font-weight:bold;
}

.publications > .entry-meta a {
  color: #0086df;
}
.publications {
    line-height: 19px;
    font-size: 15px;
}
article {
    margin-bottom: 30px;
}
a.date {
    color: #1f284f;
}

.projects h2{
  font-weight:bold;
}

/* Menu hacks */
.single-publication #menu-item-34 a,
.single-projects #menu-item-48 a {
  background: #595674;
  color: #fff;
}


/**
 * style rules for a graphical button copied from
 * https://www.regonline.com/styles/ClientButton.css
 **/

table .pbrROL{border-collapse:collapse;border-spacing:0;}
/*Text Link*/
.ROLtxt a
{
  font:bold 16px Arial;
  text-align:center;
  margin-bottom:7px;
  text-decoration:underline;
  color:#3300FF;
}
.ROLtxt a:hover
{
  text-decoration:underline;
  color:#3300FF;
}
.tt
{
    margin-top:18px;
}
.ROLtxt {text-align:center;}
/*Generic PBR link*/
.pbrROL-basic .tt{font:10px Arial, Helvetica, sans-serif; background:none; color:#000; text-align:center;}
.pbrROL-basic .tt a{ background:none; color:#3300FF; text-decoration:underline; }

/* Button 1 */
.pbrROL-01{display:block;} 
.pbrROL-01 .ROLbtn {display:block; clear:both;}
.pbrROL-01 .ROLbtn ul{margin:0; padding:0;}
.pbrROL-01 .ROLbtn ul li{list-style:none; margin: 0; padding:0; clear:both; text-align:center;} 
.pbrROL-01 .ROLbtn li a{
 background:url(./images/btn-g01-right.jpg) no-repeat top right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; white-space:nowrap;}  
.pbrROL-01 .ROLbtn li span{
 background:url(./images/btn-g01-left.jpg) no-repeat top left; 
 display: block; line-height:52px; padding:0 31px 0 30px; }
.pbrROL-01 .ROLbtn li a:hover {background:url(./images/btn-g01-right.jpg) no-repeat bottom right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; }  
.pbrROL-01 .ROLbtn li a:hover span{ background:url(./images/btn-g01-left.jpg) no-repeat bottom left; 
 display: block; line-height:52px; padding:0 31px 0 30px; }
.pbrROL-01 .tt{display:block; clear:both; font:10px Arial, Helvetica, sans-serif; background:none; color:#000; text-align:center;}
.pbrROL-01 .tt a{ background:none; color:#3300FF; text-decoration:underline; }
 
/* Button 2 */
.pbrROL-02{display:block;} 
.pbrROL-02 .ROLbtn {display:block; clear:both;}
.pbrROL-02 .ROLbtn ul{margin:0; padding:0;}
.pbrROL-02 .ROLbtn ul li{list-style:none; margin: 0; padding:0; clear:both; text-align:center;} 
.pbrROL-02 .ROLbtn li a{
 background:url(./images/btn-g02-right.jpg) no-repeat bottom right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; white-space:nowrap;}  
.pbrROL-02 .ROLbtn li span{
 background:url(./images/btn-g02-left.jpg) no-repeat bottom left; 
 display: block; line-height:48px; padding:0 31px 0 30px; }
.pbrROL-02 .ROLbtn li a:hover{background:url(./images/btn-g02-right.jpg) no-repeat top right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; }  
.pbrROL-02 .ROLbtn li a:hover span{background:url(./images/btn-g02-left.jpg) no-repeat top left; 
 display: block; line-height:48px; padding:0 31px 0 30px; }
.pbrROL-02 .tt{display:block; clear:both; font:10px Arial, Helvetica, sans-serif; background:none; color:#000; text-align:center;}
.pbrROL-02 .tt a{ background:none; color:#3300FF; text-decoration:underline; }
 
/* Button 3 */
.pbrROL-03{display:block;} 
.pbrROL-03 .ROLbtn {display:block; clear:both;}
.pbrROL-03 .ROLbtn ul{margin:0; padding:0;}
.pbrROL-03 .ROLbtn ul li{list-style:none; margin: 0; padding:0; clear:both; text-align:center;} 
.pbrROL-03 .ROLbtn li a{
 background:url(./images/btn-g03-right.jpg) no-repeat top right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Georgia, "Times New Roman", Times, serif; white-space:nowrap;} 
.pbrROL-03 .ROLbtn li span{
 background:url(./images/btn-g03-left.jpg) no-repeat top left; 
 display: block; line-height:46px; padding:0 26px 0 45px; }
.pbrROL-03 .ROLbtn li a:hover{background:url(./images/btn-g03-right.jpg) no-repeat bottom right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Georgia, "Times New Roman", Times, serif;} 
.pbrROL-03 .ROLbtn li a:hover span{ background:url(./images/btn-g03-left.jpg) no-repeat bottom left; 
 display: block; line-height:46px; padding:0 26px 0 45px; }
.pbrROL-03 .tt{display:block; clear:both; font:10px Arial, Helvetica, sans-serif; background:none; color:#000; text-align:center;}
.pbrROL-03 .tt a{ background:none; color:#3300FF; text-decoration:underline; }
 
/* Button 4 */
.pbrROL-04{display:block;} 
.pbrROL-04 .ROLbtn {display:block; clear:both;}
.pbrROL-04 .ROLbtn ul{margin:0; padding:0;}
.pbrROL-04 .ROLbtn ul li{list-style:none; margin: 0; padding:0; clear:both; text-align:center;} 
.pbrROL-04 .ROLbtn li a{
 background:url(./images/btn-g04-right.jpg) no-repeat top right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; white-space:nowrap;}  
.pbrROL-04 .ROLbtn li span{
 background:url(./images/btn-g04-left.jpg) no-repeat top left; 
 display: block; line-height:46px; padding:0 31px 0 30px; }
.pbrROL-04 .ROLbtn li a:hover{background:url(./images/btn-g04-right.jpg) no-repeat bottom right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#FFFFFF; font:bold 16px Arial, Helvetica, sans-serif; }  
.pbrROL-04 .ROLbtn li a:hover span{background:url(./images/btn-g04-left.jpg) no-repeat bottom left; 
 display: block; line-height:46px; padding:0 31px 0 30px; } 
.pbrROL-04 .tt{display:block; clear:both; font:10px Arial, Helvetica, sans-serif; background:none; color:#000; text-align:center;}
.pbrROL-04 .tt a{ background:none; color:#3300FF; text-decoration:underline; }
 
/* Button 5 */
.pbrROL-05{display:block;} 
.pbrROL-05 .ROLbtn {display:block; clear:both;}
.pbrROL-05 .ROLbtn ul{margin:0; padding:0;}
.pbrROL-05 .ROLbtn ul li{list-style:none; margin: 0; padding:0; clear:both; text-align:center;} 
.pbrROL-05 .ROLbtn li a{
 background:url(./images/btn-g05-right.jpg) no-repeat top right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#000; font:bold 16px Arial, Helvetica, sans-serif; white-space:nowrap;}  
.pbrROL-05 .ROLbtn li span{
 background:url(./images/btn-g05-left.jpg) no-repeat top left; 
 display: block; line-height:44px; padding:0 31px 0 30px; }
.pbrROL-05 .ROLbtn li a:hover{background:url(./images/btn-g05-right.jpg) no-repeat bottom right;
 display: inline-block;  text-decoration:none; margin-left:auto; margin-right:auto;
 color:#000; font:bold 16px Arial, Helvetica, sans-serif; }  
.pbrROL-05 .ROLbtn li a:hover span{background:url(./images/btn-g05-left.jpg) no-repeat bottom left; 
 display: block; line-height:44px; padding:0 31px 0 30px; }
 
.pbrROL-05 .tt{display:block; clear:both; font:10px Arial, Helvetica, sans-serif; background:none; color:#000; text-align:center;}
.pbrROL-05 .tt a{ background:none; color:#3300FF; text-decoration:underline; }
