/* :asset_packager_compatibility, 'config/asset_packages.yml' @ 1415832326 */
/* public/stylesheets/global/reset.css @ 1415832326 */
/* Copyright (c) 2007, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt version: 2.3.1 */ body {color: #000; background: #FFF}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0; padding: 0}
table {border-collapse: collapse; border-spacing: 0}
fieldset, img {border: 0}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal; font-weight: normal}
li {list-style: none}
caption, th {text-align: left}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal}
q:before, q:after {content: ''}
abbr, acronym {border: 0; font-variant: normal}
input, textarea, select {font-family: inherit; font-size: inherit; font-weight: inherit}


/* public/stylesheets/global/newhome.css @ 1415832326 */
@font-face {font-family: "Proxima Nova"; font-weight: normal; font-style: normal; src: url("/images/fonts/ProximaNova/proximanova-reg-webfont.eot"); src: url("/images/fonts/ProximaNova/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("/images/fonts/ProximaNova/proximanova-reg-webfont.woff") format("woff"), url("/images/fonts/ProximaNova/proximanova-reg-webfont.ttf") format("truetype"), url("/images/fonts/ProximaNova/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg")}
@font-face {font-family: "Proxima Nova"; font-weight: bold; font-style: normal; src: url("/images/fonts/ProximaNova/proximanova-bold-webfont.eot"); src: url("/images/fonts/ProximaNova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/images/fonts/ProximaNova/proximanova-bold-webfont.woff") format("woff"), url("/images/fonts/ProximaNova/proximanova-bold-webfont.ttf") format("truetype"), url("/images/fonts/ProximaNova/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg")}
@font-face {font-family: "Proxima Nova"; font-weight: 200; font-style: normal; src: url("/images/fonts/ProximaNova/proximanova-light-webfont.eot"); src: url("/images/fonts/ProximaNova/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("/images/fonts/ProximaNova/proximanova-light-webfont.woff") format("woff"), url("/images/fonts/ProximaNova/proximanova-light-webfont.ttf") format("truetype"), url("/images/fonts/ProximaNova/proximanova-light-webfont.svg#proxima_nova_ltlight") format("svg")}
@font-face {font-family: "Proxima Nova"; font-style: italic; font-weight: normal; src: url("/images/fonts/ProximaNova/proximanova-regit-webfont.eot"); src: url("/images/fonts/ProximaNova/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("/images/fonts/ProximaNova/proximanova-regit-webfont.woff") format("woff"), url("/images/fonts/ProximaNova/proximanova-regit-webfont.ttf") format("truetype"), url("/images/fonts/ProximaNova/proximanova-regit-webfont.svg#proxima_novaregular_italic") format("svg")}
@font-face {font-family: "Proxima Nova"; font-style: italic; font-weight: bold; src: url("/images/fonts/ProximaNova/proximanova-boldit-webfont.eot"); src: url("/images/fonts/ProximaNova/proximanova-boldit-webfont.eot?#iefix") format("embedded-opentype"), url("/images/fonts/ProximaNova/proximanova-boldit-webfont.woff") format("woff"), url("/images/fonts/ProximaNova/proximanova-boldit-webfont.ttf") format("truetype"), url("/images/fonts/ProximaNova/proximanova-boldit-webfont.svg#proxima_novabold_italic") format("svg")}
@font-face {font-family: "Proxima Nova"; font-style: normal; font-weight: 100; src: url("/images/fonts/ProximaNova/proximanova-thin-webfont.eot"); src: url("/images/fonts/ProximaNova/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/images/fonts/ProximaNova/proximanova-thin-webfont.woff") format("woff"), url("/images/fonts/ProximaNova/proximanova-thin-webfont.ttf") format("truetype"), url("/images/fonts/ProximaNova/proximanova-thin-webfont.svg#proxima_novaregular_italic") format("svg")}
body {font-family: Sofia Pro, sans-serif; color: #444444; font-size: 16px}
body.dragging {-moz-user-select: -moz-none; -webkit-user-select: none; user-select: none}
a, .pseudoLink {color: #1a7bba; outline: none; text-decoration: none; cursor: pointer}
a:hover, .pseudoLink:hover {color: #6ac6e2}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.clearfix {zoom: 1}
.hidden {display: none !important}
.global_wrapper {overflow: hidden; background: #f3f3f3}
.full_width .global_wrapper {background: white}
.tooltip_container .new_tip {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.5s ease-in; -moz-transition: opacity 0.5s ease-in; -ms-transition: opacity 0.5s ease-in; transition: opacity 0.5s ease-in; font-family: Sofia Pro, sans-serif; position: absolute; max-width: 230px; text-align: center; z-index: 2999}
.tooltip_container .new_tip.opaque {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1}
.tooltip_container .new_tip .tip_inner {display: inline-block; zoom: 1; *display: inline; background: #135987; border-radius: 3px; padding: 5px 10px; font-size: 13px; color: white}
.tooltip_container .new_tip .tip_inner a {color: white}
.tooltip_container .fancy_tip {display: inline-block; zoom: 1; *display: inline; box-shadow: #999999 0 0 4px; position: absolute; background: white 0 100% url('https://s1-f.scribdassets.com/images/newhome/corner-lift-brown-bottomleft_33_x_33.png?1415832326') no-repeat}
.tooltip_container .fancy_tip .tip_inner {margin: 16px}
.tooltip_container .fancy_tip .tip_arrow {position: absolute; left: 50%; margin-left: -9px; top: -9px}
.tooltip_container .bookmark_tooltip {width: 225px; text-align: left}
.tooltip_container .bookmark_tooltip h3 {font-family: Sofia Pro, sans-serif; display: inline-block; zoom: 1; *display: inline; font-size: 11px; margin: 0; padding: 0; font-weight: normal; color: #4f4f4f}
.tooltip_container .bookmark_tooltip p {font-family: Sofia Pro, sans-serif; font-size: 11px; margin: 0; padding: 0; color: #909090}
.tooltip_container .bookmark_tooltip .small_checkmark {display: inline-block; zoom: 1; *display: inline; padding-right: 5px}
.tooltip_container .bookmark_tooltip .blue_x {position: absolute; top: 8px; right: 8px; cursor: pointer}
.divider {margin: 0px 1px; border-top: 1px solid #e2e4e5}
.divider .divider_bottom {border-top: 1px solid #cfd2d3; margin: 1px 3px 0px 3px}
.divider.brown {border-top-color: #e1e1e1}
.divider.brown .divider_bottom {border-top-color: #dadada}
body.has_header_shadow:before {content: ""; position: fixed; background: rgba(0, 0, 0, 0); top: 0; right: 0; left: 0; height: 67px; z-index: 2; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out}
body.has_header_shadow.show_header_shadow:before {background: rgba(0, 0, 0, 0.15); height: 70px}
body.unselectable {-moz-user-select: -moz-none; -webkit-user-select: none; user-select: none; cursor: default}
.home_container {background: white; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); border-top: 1px solid white; border-bottom: 1px solid white}
.home_container .padded_content {padding: 0 48px 10px 48px}
.ie8 .home_container, .ie7 .home_container, .ie6 .home_container {border: 1px solid #cccccc}
.home_container .page_header {border-bottom: 1px solid #e1e1e1; padding: 0 48px}
.home_container .page_header h1 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 35px 0 0 0}
.home_container .page_header h2 {background: red}
.home_container .page_header h2::before {content: "use h1 in header please"}
.home_container .notification_bar {padding: 15px 48px; margin-top: 1px}
.home_container .bottom_menu {zoom: 1; padding: 15px 48px; border-top: 1px solid #e1e1e1; margin-top: 30px; line-height: 45px}
.home_container .bottom_menu:after {content: ""; display: table; clear: both}
.home_container, .open_container {text-align: left; width: 996px; margin: 45px auto}
.loader {display: none; vertical-align: middle; background: url('https://s1-f.scribdassets.com/images/petunia/spinner/spinner_30.gif?1415832326'); width: 30px; height: 30px}
.new.loader {background: url('https://s2-f.scribdassets.com/images/spinner_30x30.gif?1415832326') no-repeat; width: 32px; height: 32px}
span.sprite {display: inline-block; zoom: 1; *display: inline; vertical-align: middle}
.sprite {background: url('https://s1-f.scribdassets.com/images/newhome/icon-sprite.png?1415832326') 0 0 no-repeat}
.sprite.loc_pin {width: 10px; height: 13px; background-position: -14px 0px}
.sprite.logo_dark {width: 73px; height: 18px; background-position: 0px -92px}
.sprite.logo_dark_big {width: 97px; height: 24px; background-position: 0px -60px}
.sprite.logo {width: 97px; height: 26px; background-position: 0px -117px}
.sprite.triangle {width: 13px; height: 8px; background-position: -78px -5px}
.sprite.white_tri_up {width: 9px; height: 5px; background-position: -94px -8px}
.sprite.white_tri_down {width: 9px; height: 5px; background-position: -94px -2px}
.sprite.white_tri_right {width: 5px; height: 9px; background-position: -98px -14px}
.sprite.blue_tri_right {width: 5px; height: 9px; background-position: -71px -14px}
.sprite.blue_tri_down {width: 9px; height: 5px; background-position: -66px -2px}
.sprite.blue_tri_up {width: 9px; height: 5px; background-position: -66px -8px}
.sprite.share, .sprite.close, .sprite.reply, .sprite.comment, .sprite.bookmark_light, .sprite.bookmark_dark, .sprite.download {position: relative; cursor: pointer}
.sprite.share:active, .sprite.close:active, .sprite.reply:active, .sprite.comment:active, .sprite.bookmark_light:active, .sprite.bookmark_dark:active, .sprite.download:active {top: 1px}
.sprite.readcast {width: 18px; height: 17px; background-position: -145px -34px}
.sprite.readcast:hover {background-position: -145px -51px}
.sprite.readcast.disabled {background-position: -145px 0}
.sprite.share {width: 12px; height: 11px; background-position: -13px -27px}
.sprite.share:hover {background-position: 0px -27px}
.sprite.bookmark_light {width: 13px; height: 16px; background-position: -148px -71px}
.sprite.bookmark_light:hover {background-position: -148px -90px}
.sprite.bookmark_dark {width: 13px; height: 16px; background-position: -148px -109px}
.sprite.bookmark_dark_small {width: 13px; height: 16px; background-position: -148px -109px}
.sprite.popup_arrow {width: 21px; height: 11px; background-position: -121px -57px}
.sprite.reply {width: 14px; height: 10px; background-position: -38px -14px}
.sprite.reply:hover, .trigger_sprite:hover .sprite.reply {background-position: -25px -14px}
.sprite.close {width: 12px; height: 13px; background-position: -26px 0px}
.sprite.close.brown {background-position: -52px 0px}
.sprite.close.white {background-position: -52px -13px}
.sprite.close.white:hover {background-position: -52px -13px}
.sprite.close:hover {background-position: -39px 0px}
.sprite.comment {width: 13px; height: 12px; background-position: -13px -14px}
.sprite.comment:hover {background-position: 0px -14px}
.sprite.scribd_badge, .sprite.facebook_badge, .sprite.twitter_badge {width: 20px; height: 20px; background-position: -82px -147px}
.sprite.facebook_badge {background-position: -82px -167px}
.sprite.twitter_badge {background-position: -82px -188px}
.sprite.ad_choices {width: 12px; height: 11px; background-position: -79px -15px}
.sprite.to_reading_feed {width: 15px; height: 13px; background-position: -105px 0}
.sprite.to_reading_feed:hover, .has_icon:hover .sprite.to_reading_feed {background-position: -105px -14px}
.sprite.blue_arrow {width: 15px; height: 13px; background-position: -105px -14px}
.sprite.link_arrow {width: 15px; height: 13px; background-position: -105px -14px}
.sprite.small_checkmark {width: 12px; height: 8px; background-position: -126px -90px}
.sprite.blue_x {width: 13px; height: 11px; background-position: -39px -1px}
.sprite.plus_circle {background-position: -102px -51px; width: 18px; height: 17px}
.sprite.check_circle {background-position: -102px -69px; width: 18px; height: 17px}
.sprite.white_scribd {background-position: -122px -147px; width: 17px; height: 20px}
.sprite.white_twitter {background-position: -104px -188px; width: 17px; height: 20px}
.sprite.white_facebook {background-position: -104px -167px; width: 17px; height: 20px}
.sprite.white_googleplus {width: 20px; height: 20px; background-position: -122px -167px}
.sprite.white_linkedin {width: 20px; height: 20px; background-position: -122px -147px}
.sprite.red_warning {width: 21px; height: 17px; background-position: -121px -18px}
.sprite.white_warning {width: 21px; height: 17px; background-position: -121px -36px}
.sprite.external_link {width: 14px; height: 14px; background-position: -148px -168px}
.sprite.sharing_check {width: 15px; height: 11px; background-position: -148px -188px}
.active .sprite.sharing_check {background-position: -129px -200px}
.sprite.question {width: 16px; height: 16px; background-position: -104px -28px}
.sprite.trash {width: 11px; height: 13px; background-position: -168px -4px}
.sprite.preview {width: 17px; height: 12px; background-position: -166px -40px}
.sprite.i_info {width: 9px; height: 9px; background-position: 0 -49px}
.sprite.traffic_cone {width: 29px; height: 30px; background-position: -181px 0}
.sprite.tiny_check {width: 12px; height: 8px; background-position: -126px -90px}
.sprite.white_search {width: 14px; height: 13px; background-position: -106px -119px}
.sprite.white_edit {width: 14px; height: 14px; background-position: -188px -91px}
.sprite.email {width: 20px; height: 16px; background-position: -185px -30px}
.sprite.white_check {width: 12px; height: 8px; background-position: -12px -49px}
.sprite.report_user {width: 7px; height: 14px; background-position: -171px -52px}
.sprite.block_user {width: 11px; height: 10px; background-position: -169px -68px}
.sprite.edit_icon_solid {width: 20px; height: 20px; background-position: -185px -49px}
.sprite.edit_pencil {width: 14px; height: 13px; background-position: -188px -74px}
.sprite.dark_search {width: 14px; height: 13px; background-position: -106px -132px}
.sprite.black_search {width: 16px; height: 15px; background-position: -209px -91px}
.sprite.book {width: 16px; height: 12px; background-position: -184px -137px}
.sprite.header_arrow_down {width: 11px; height: 6px; background-position: -197px -161px}
.sprite.upload {width: 13px; height: 15px; background-position: -184px -152px}
.sprite.paddle_left {width: 31px; height: 47px; background-position: -6px -151px}
.sprite.paddle_right {width: 31px; height: 47px; background-position: -38px -151px}
.sprite.paddle_left_small {width: 22px; height: 43px; background-position: -15px -208px}
.sprite.paddle_right_small {width: 22px; height: 43px; background-position: -39px -208px}
.sprite.popup_left {width: 16px; height: 33px; background-position: -139px -273px}
.sprite.popup_right {width: 14px; height: 33px; background-position: -155px -274px}
.sprite.home_open_book, .sprite.home_open_book_static {width: 18px; height: 15px; background-position: -141px -217px}
.sprite.home_open_book:hover, .trigger_sprite:hover .sprite.home_open_book {background-position: -141px -237px}
.sprite.home_open_book:active, .trigger_sprite:active .sprite.home_open_book {background-position: -141px -258px}
.sprite.home_readcast_static, .sprite.home_readcast {width: 18px; height: 18px; background-position: -160px -216px}
.sprite.home_readcast:hover, .trigger_sprite:hover .sprite.home_readcast {background-position: -160px -236px}
.sprite.home_readcast:active, .trigger_sprite:active .sprite.home_readcast, .sprite.home_readcast.readcasted {background-position: -160px -256px}
.sprite.home_bookmark {width: 12px; height: 19px; background-position: -179px -216px}
.sprite.home_bookmark:hover {background-position: -179px -236px}
.sprite.home_bookmark:active {background-position: -179px -256px}
.sprite.home_bookmark.saved {background-position: -179px -256px}
.sprite.home_add_collection {width: 18px; height: 19px; background-position: -192px -216px}
.sprite.home_add_collection:hover {background-position: -192px -236px}
.sprite.home_add_collection:active {background-position: -192px -256px}
.sprite.home_uploads {width: 15px; height: 17px; background-position: -212px -218px}
.sprite.home_uploads:hover, .trigger_sprite:hover .sprite.home_uploads {background-position: -212px -237px}
.sprite.home_uploads:active, .trigger_sprite:active .sprite.home_uploads {background-position: -212px -258px}
.sprite.home_followers {width: 15px; height: 16px; background-position: -228px -219px}
.sprite.home_followers:hover, .trigger_sprite:hover .sprite.home_followers {background-position: -228px -238px}
.sprite.home_followers:active, .trigger_sprite:active .sprite.home_followers {background-position: -228px -259px}
.sprite.home_reply {width: 13px; height: 13px; background-position: -262px -222px}
.sprite.home_reply:hover, .trigger_sprite:hover .sprite.home_reply {background-position: -262px -241px}
.sprite.home_reply:active, .trigger_sprite:active .sprite.home_reply, .sprite.home_reply.active {background-position: -262px -262px}
.sprite.home_following {width: 18px; height: 17px; background-position: -244px -218px}
.sprite.home_following:hover, .trigger_sprite:hover .sprite.home_following {background-position: -244px -237px}
.sprite.home_following:active, .trigger_sprite:active .sprite.home_following {background-position: -244px -257px}
.sprite.home_delete {width: 15px; height: 16px; background-position: -276px -219px}
.sprite.home_delete:hover {background-position: -276px -238px}
.sprite.home_delete:active {background-position: -276px -258px}
.sprite.download_arrow {width: 14px; height: 18px; background-position: -310px -217px}
.sprite.download_arrow:hover {background-position: -310px -236px}
.sprite.download_arrow:active {background-position: -310px -256px}
.sprite.white_big_open_book {width: 46px; height: 38px; background-position: 0px -320px}
.sprite.tiny_pencil {width: 10px; height: 10px; background-position: -210px -170px}
.sprite.tiny_star {width: 11px; height: 10px; background-position: -226px -170px}
.sprite.tiny_x {width: 9px; height: 9px; background-position: -242px -171px}
.sprite.ac_documents, .sprite.ac_books {background-position: -165px -145px; margin: 4px 7px; width: 15px; height: 18px}
.sprite.ac_authors {background-position: -165px -168px; margin: 7px 7px; width: 15px; height: 14px}
.sprite.ac_publishers {background-position: -165px -186px; width: 15px; height: 14px}
.sprite.library_blue {background-position: -165px -186px; width: 15px; height: 14px}
.sprite.light_tri_down {width: 12px; height: 5px; background-position: -183px -194px}
.sprite.search_collections {width: 14px; height: 14px; background-position: -243px -112px}
.sprite.search_collections.small {background-position: -29px -59px}
.sprite.search_documents {width: 11px; height: 14px; background-position: -212px -112px}
.sprite.search_people {width: 15px; height: 14px; background-position: -260px -112px}
.sprite.search_books {width: 12px; height: 14px; background-position: -228px -112px}
.sprite.small_clip {width: 14px; height: 14px; background-position: -243px -112px}
.sprite.gray_tri_down {background-position: -213px -185px; width: 11px; height: 6px}
.sprite.gray_tri_up {background-position: -227px -185px; width: 11px; height: 6px}
.sprite.circle_check {background-position: -165px -79px; width: 16px; height: 16px}
.sprite.circle_cancel {background-position: -165px -96px; width: 16px; height: 16px}
.sprite.box_tri_down {width: 16px; height: 16px; background-position: -322px -2px}
.sprite.box_tri_up {width: 16px; height: 16px; background-position: -322px -23px}
.sprite.annotation_paper {width: 17px; height: 17px; background-position: -16px -376px}
.sprite.facebook_large {width: 25px; height: 25px; background-position: -78px -26px}
h1.logo_wrapper {margin: 0; display: inline-block; zoom: 1; *display: inline; font-size: inherit; font-family: inherit}


/* public/stylesheets/global/lightbox_newhome.css @ 1415832326 */
body.lightbox_open {overflow: hidden}
body.lightbox_open #lightboxes {zoom: 1; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 30000; overflow-y: auto}
body.lightbox_open #lightboxes:after {content: ""; display: table; clear: both}
#overlay {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: background-color 0.2s ease, opacity 0.2s ease; -moz-transition: background-color 0.2s ease, opacity 0.2s ease; -ms-transition: background-color 0.2s ease, opacity 0.2s ease; transition: background-color 0.2s ease, opacity 0.2s ease; position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; background: black; z-index: 2999}
.slow_lightbox_overlay #overlay {-webkit-transition: background-color 0.6s ease, opacity 0.6s ease; -moz-transition: background-color 0.6s ease, opacity 0.6s ease; -ms-transition: background-color 0.6s ease, opacity 0.6s ease; transition: background-color 0.6s ease, opacity 0.6s ease}
#overlay.chrome_fix {overflow: scroll}
#overlay.chrome_fix::-webkit-scrollbar {width: 0px}
.lightbox {position: absolute; text-align: left; background: white 0 0 no-repeat; box-shadow: 0px 0px 12px #222222; margin-bottom: 60px}
.lightbox .content {border-top: 1px solid #e1e1e1; padding: 40px}
.lightbox .title {font-size: 36px; font-family: Livory, serif; line-height: 40px; padding: 30px 40px; background: #f9f9f9}
.lightbox .wrapper {overflow: hidden; position: relative}
.lightbox .close_button {position: absolute; top: 0px; right: 0px; float: right; margin-top: 15px; margin-right: 15px}
.lightbox .inline_flash {-webkit-transition: background 0.2s ease; -moz-transition: background 0.2s ease; -ms-transition: background 0.2s ease; transition: background 0.2s ease; position: absolute; height: 40px; line-height: 40px; top: 0; left: 0; right: 0; background: #F09F66; color: white; font-size: 14px; display: none; text-align: center}
.lightbox .inline_flash.error {background: #f2736e}
.lightbox .inline_flash.success {background: #82cc9c}
.lightbox#share_lb {width: 500px}
#add_to_collection_lightbox .content {padding: 0}


/* :files, 'public/stylesheets/shared', ... @ (none) */


/* :files, 'app/views', ... @ 1415744857 */
/* app/views/read/store/_shared.css @ 1415744857 */
/* This is the buy doc bar */ .buy_doc_bar_inner {-webkit-user-select: none; background-color: #D2D6D8; border: 2px solid #cccccc; text-align: left}
.buy_doc_bar_inner .contents {padding: 10px 15px 0 10px; overflow: auto}
.buy_doc_bar_inner .headline {font-size: 18px; color: #255D79; text-shadow: 1px 1px 1px white; padding-bottom: 5px}
.buy_doc_bar_inner .message {font-size: 14px; text-shadow: 1px 1px 1px white; color: #58554F; max-width: 645px; white-space: normal; padding-bottom: 10px; border-bottom: 2px groove white; margin-bottom: 10px}
.buy_doc_bar_inner .bar_list_price {font-size: 18px; text-shadow: 1px 1px 1px white; border-top: none; margin-top: 10px; margin-left: 10px; width: 300px; color: #58554F}
/* The other in-between page missing stuff */ .page_missing_explanation {-moz-user-select: -moz-none; -webkit-user-select: none; user-select: none; box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); border: 1px solid #cfcfcf; margin-bottom: 9px !important}
.page_missing_explanation .page_missing_explanation_inner {background: #EFF4F7; border-top: 1px solid white; padding: 10px 15px; font-size: 14px; text-align: left; color: #58554F; overflow: hidden}
.page_missing_explanation .page_missing_explanation_inner span.missing_page_number_title {font-size: 18px; color: #255D79}
.page_missing_explanation .page_missing_explanation_inner span.missing_page_number {font-weight: bold}
.page_missing_explanation .page_missing_explanation_inner .page_missing_explanation_contents {float: left}
.page_missing_explanation .page_missing_explanation_inner .missing_page_buy_button {float: right}
.page_missing_explanation .page_missing_explanation_inner .missing_page_buy_button .buy_button {left: 0}
/*Here are the remote link buttons*/ #center_remote_link_buttons {margin-left: auto; margin-right: auto; margin-top: 10px; width: 209px}
#remote_link_buttons {margin-bottom: 10px}
#remote_link_buttons .remote_link_button {width: 209px; height: 30px; padding-top: 6px; padding-left: 24px; display: block; background: transparent url('https://s2-f.scribdassets.com/images/ppp/button.png?1415832326') no-repeat; white-space: nowrap}
#remote_link_buttons .remote_link_button:hover {text-decoration: none; background-position: 0 -37px}
#remote_link_buttons .remote_link_button:active {text-decoration: none; background-position: 0 -74px; height: 29px; padding-top: 7px}
#remote_link_buttons .remote_link_button .more_info_icon {width: 27px; height: 28px; padding-right: 20px; background: transparent url('https://s1-f.scribdassets.com/images/ppp/info_icon.png?1415832326') no-repeat}
#remote_link_buttons .remote_link_button .buy_icon {width: 28px; height: 28px; padding-right: 20px; background: transparent url('https://s2-f.scribdassets.com/images/ppp/buy_icon.png?1415832326') no-repeat}
#remote_link_buttons .remote_link_button span {line-height: 18px; font-size: 18px; color: white; text-shadow: 1px 1px 1px #b38400}
#remote_link_buttons .remote_branded_button {width: 280px; /* vertically center button(s) */ }
#remote_link_buttons .remote_branded_button .buy_banner {float: left; padding-left: 28px; width: 112px; height: 40px; padding-top: 12px; margin-right: 10px; background: transparent url('https://s1-f.scribdassets.com/images/ppp/buy_banner.png?1415832326') no-repeat}
#remote_link_buttons .remote_branded_button .buy_banner span {font-size: 22px; color: white; text-shadow: 1px 1px 1px #b38400}
#remote_link_buttons .remote_branded_button .container {height: 52px; display: table-cell; vertical-align: middle}
#remote_link_buttons .remote_branded_button .branded_buy_button {width: 130px; height: 20px; margin-bottom: 3px; padding-top: 5px; display: block; background: transparent url('https://s1-f.scribdassets.com/images/ppp/branded_buy_button.png?1415832326') no-repeat}
#remote_link_buttons .remote_branded_button .branded_buy_button:hover {text-decoration: none; background-position: 0 -26px}
#remote_link_buttons .remote_branded_button .branded_buy_button:active {text-decoration: none; background-position: 0 -52px; height: 19px; padding-top: 6px}
#remote_link_buttons .remote_branded_button .branded_buy_button .barnes_noble, #remote_link_buttons .remote_branded_button .branded_buy_button .amazon {height: 15px; margin-left: auto; margin-right: auto}
#remote_link_buttons .remote_branded_button .branded_buy_button .barnes_noble {width: 99px; background: transparent url('https://s1-f.scribdassets.com/images/ppp/branded_buy_button_barnes_noble.png?1415832326') no-repeat}
#remote_link_buttons .remote_branded_button .branded_buy_button .amazon {width: 62px; background: transparent url('https://s2-f.scribdassets.com/images/ppp/branded_buy_button_amazon.png?1415832326') no-repeat}
/* see buy_this.rb -- the buttons are copied between missing pages and ther they need other positioning */ .page_missing_explanation_inner #remote_link_buttons {float: right}


/* app/views/shared/carousels/document_cell.css @ 1415744857 */
.has_document_cells .document_cell {width: 145px; white-space: normal; vertical-align: top; font-size: 13px; text-align: left}
.has_document_cells .document_cell .flag {position: absolute; color: white; font-size: 9px; font-weight: bold; letter-spacing: 1px; border-radius: 0; bottom: -20px; height: 20px; line-height: 21px; left: 0; right: 0; text-align: center}
.has_document_cells .document_cell.has_flag .content {margin-top: 30px}
.has_document_cells .document_cell.has_flag .flag {display: block}
.has_document_cells .document_cell.has_flag.is_purchase .flag {background: #1A7BBA}
.has_document_cells .document_cell.has_flag.is_geo_restricted .flag {background: #999999}
.has_document_cells .document_cell.has_flag.is_sample .flag {background: #C1C1BE}
.has_document_cells .document_cell .audiobook_indicator {position: absolute; bottom: 0; text-align: center; color: #fff; padding: 3px 0; left: 0; right: 0; height: 80px; background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%); /* For Firefox 3.6 to 15 */ background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%); /* Standard syntax */ }
.has_document_cells .document_cell .audiobook_indicator span {position: absolute; bottom: 10px; left: 50%; margin-left: -11px}
.has_document_cells .document_cell.is_book .cell_data {display: none}
.has_document_cells .document_cell .flag {top: 0; bottom: auto; display: block}
.has_document_cells .document_cell .thumb {position: relative; background-position: 50% 50%; background-repeat: no-repeat; background-color: #E6E8E9; background-size: cover; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); width: 145px; height: 200px; margin-bottom: 10px; cursor: pointer}
.has_document_cells .document_cell .thumb:hover .overlay {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5}
.has_document_cells .document_cell .thumb:hover .overlay .sprite {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5}
.has_document_cells .document_cell .thumb.is_book {box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.24), 0px 2px 15px rgba(0, 0, 0, 0.26)}
.has_document_cells .document_cell .thumb.is_book .shadow_overlay {display: block}
.has_document_cells .document_cell .thumb .shadow_overlay {display: none}
.has_document_cells .document_cell .thumb .overlay, .has_document_cells .document_cell .thumb .shadow_overlay, .has_document_cells .document_cell .thumb .doc_link {position: absolute; top: 0; right: 0; bottom: 0; left: 0}
.has_document_cells .document_cell .thumb .overlay {-webkit-transition: opacity 0.1s ease-in-out; -moz-transition: opacity 0.1s ease-in-out; -ms-transition: opacity 0.1s ease-in-out; transition: opacity 0.1s ease-in-out; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; background: #3d4044}
.has_document_cells .document_cell .thumb .overlay .sprite {position: absolute; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; left: 50%; top: 50%; margin-left: -23px; margin-top: -18px}
.has_document_cells .document_cell .thumb .shadow_overlay {background: url('https://s2-f.scribdassets.com/images/petunia/thumbnail_overlay_185x250.png?1415832326') 0 0 no-repeat; background-size: cover}
.has_document_cells .document_cell .cell_data {border-top: 1px solid #dcd8d4; position: absolute; bottom: 0; top: 65%; left: 0; right: 0; background: #FDFDFD; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9}
.has_document_cells .document_cell .cell_data a {text-decoration: none}
.has_document_cells .document_cell .document_title {color: #333333; margin: 10px 15px 0 15px; word-wrap: break-word; font-size: 14px; line-height: 15px; overflow: hidden; max-height: 30px}
.has_document_cells .document_cell .document_title a {color: inherit}
.has_document_cells .document_cell .document_author {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: absolute; bottom: 0; left: 0; right: 0; color: #777777; text-transform: uppercase; font-size: 12px; margin: 0 15px 10px 15px; line-height: 15px}
.has_document_cells .document_cell .document_author a {color: inherit}


/* app/views/embeds/embed_lightbox.css @ 1415744857 */
.embed_lightbox {position: absolute; top: 30%; left: 50%; margin-top: -100px; margin-left: -165px}
.embed_lightbox.container {text-align: left; background: white; width: 300px; border: 15px solid #555555; padding: 15px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px}
.embed_lightbox .close {float: right; font-size: 11px}
.embed_lightbox h1 {margin-bottom: 20px}


/* :class_inlines, 'app/views', ... @ 1415744857 */
/* app/views/shared/carousels/carousel.css @ 1415744857 */
.autogen_class_views_shared_carousels_carousel {position: relative}
.autogen_class_views_shared_carousels_carousel:hover .carousel_scrollbar, .autogen_class_views_shared_carousels_carousel.ui_visible .carousel_scrollbar {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1}
.autogen_class_views_shared_carousels_carousel.dragging .carousel_scrollbar .carousel_scrollbar_thumb, .autogen_class_views_shared_carousels_carousel .carousel_scrollbar .carousel_scrollbar_thumb:hover {height: 9px; top: -4px; background: #6ac6e2}
.autogen_class_views_shared_carousels_carousel.has_no_scrolling .carousel_scrollbar {display: none}
.autogen_class_views_shared_carousels_carousel.has_no_scrolling .carousel_scrolling {overflow: hidden}
.autogen_class_views_shared_carousels_carousel.has_no_scrolling.has_paddles .paddle {display: none}
.autogen_class_views_shared_carousels_carousel.has_paddles .page_left {left: 40px}
.autogen_class_views_shared_carousels_carousel.has_paddles .page_right {right: 40px}
.autogen_class_views_shared_carousels_carousel.has_paddles .paddle {top: auto; bottom: 20px; height: 247px}
.autogen_class_views_shared_carousels_carousel.has_paddles .paddle .paddle_sprite {position: absolute; top: 50%; margin-top: -23px}
.autogen_class_views_shared_carousels_carousel .carousel {position: relative; height: 267px; overflow: hidden; margin-left: 70px; margin-right: 70px; white-space: nowrap}
.autogen_class_views_shared_carousels_carousel .carousel:before, .autogen_class_views_shared_carousels_carousel .carousel:after {position: absolute; width: 15px; top: 0; bottom: 0; content: ""; z-index: 1}
.autogen_class_views_shared_carousels_carousel .carousel:before {left: 0}
.autogen_class_views_shared_carousels_carousel .carousel:after {right: 0}
.autogen_class_views_shared_carousels_carousel .carousel:before {background: -moz-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(53%, white), color-stop(100%, rgba(255, 255, 255, 0))); background: -webkit-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%); background: -o-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%); background: -ms-linear-gradient(left, white 0%, white 53%, rgba(255, 255, 255, 0) 100%); background: linear-gradient(to right, white 0%, white 53%, rgba(255, 255, 255, 0) 100%)}
.autogen_class_views_shared_carousels_carousel .carousel:after {background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(53%, white), color-stop(100%, white)); background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%); background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%); background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 53%, white 100%); background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 53%, white 100%)}
.autogen_class_views_shared_carousels_carousel .carousel .object_cell {display: inline-block; vertical-align: top; white-space: normal; font-size: 16px}
.autogen_class_views_shared_carousels_carousel .carousel .object_cell:last-child {margin-right: 20px}
.autogen_class_views_shared_carousels_carousel .carousel_scrolling {overflow: hidden; overflow-x: scroll; font-size: 0}
.autogen_class_views_shared_carousels_carousel .carousel_scrollbar {background: #e1e1e1; height: 1px; position: absolute; bottom: 10px; left: 90px; right: 90px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out}
.autogen_class_views_shared_carousels_carousel .carousel_scrollbar .carousel_scrollbar_thumb {-webkit-transition: background 0.2s ease, top 0.2s ease, height 0.2s ease; -moz-transition: background 0.2s ease, top 0.2s ease, height 0.2s ease; -ms-transition: background 0.2s ease, top 0.2s ease, height 0.2s ease; transition: background 0.2s ease, top 0.2s ease, height 0.2s ease; height: 3px; background: #1a7bba; position: absolute; left: 0; top: -1px}
.autogen_class_views_shared_carousels_carousel .document_cell {margin: 27px 60px 60px 20px}
.autogen_class_views_shared_carousels_carousel.events .thumbnail_outer img {border-radius: 3px}
.autogen_class_views_shared_carousels_carousel.events .carousel {height: 353px}
.autogen_class_views_shared_carousels_carousel.events .module_edge_right {top: 102px}
.autogen_class_views_shared_carousels_carousel .carousel_title {margin: 30px 45px 0 45px; font-size: 28px; font-weight: 200; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.autogen_class_views_shared_carousels_carousel .event_data {margin-bottom: 15px}
.autogen_class_views_shared_carousels_carousel .event_data .newhome_chrome_thumbnail {float: left; min-height: 30px; min-width: 30px}
.autogen_class_views_shared_carousels_carousel .event_data .text {width: 138px; margin-left: 45px}
.autogen_class_views_shared_carousels_carousel .event_data .text .username {font-size: 12px; color: #035a7a}
.autogen_class_views_shared_carousels_carousel .event_data .light_gray {color: #999999; font-size: 12px}


/* app/views/embeds/content.css @ 1415744857 */
.autogen_class_views_embeds_content #content_embed_container {z-index: 1}
.autogen_class_views_embeds_content #content_embed_container #branding {width: 100%; height: 35px; text-align: left}
.autogen_class_views_embeds_content #content_embed_container #branding img {margin-top: 5px; margin-left: 12px}
.autogen_class_views_embeds_content #content_embed_container #document_content {overflow: hidden; position: absolute; top: 0; bottom: 30px; left: 0; right: 0; border: 1px solid #e5e5e5; border-bottom: none; /* seriously, fuck IE6. */ _width: 100%; _height: 100%}
.autogen_class_views_embeds_content #content_embed_container #document_content iframe {padding: 0; margin: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; min-width: 340px}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev, .autogen_class_views_embeds_content #content_embed_container #overlay_next {position: fixed; height: 100%; width: 25%; cursor: pointer}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev .arrow, .autogen_class_views_embeds_content #content_embed_container #overlay_next .arrow {position: fixed; bottom: 48%; width: 62px; height: 60px; cursor: pointer}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev:hover .arrow, .autogen_class_views_embeds_content #content_embed_container #overlay_next:hover .arrow {background-position: 0 -60px}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev:active .arrow, .autogen_class_views_embeds_content #content_embed_container #overlay_next:active .arrow {background-position: 0 -120px}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev.inactive, .autogen_class_views_embeds_content #content_embed_container #overlay_next.inactive {cursor: default}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev.inactive .arrow, .autogen_class_views_embeds_content #content_embed_container #overlay_next.inactive .arrow {background-position: 0 -180px; cursor: default}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev {left: 0}
.autogen_class_views_embeds_content #content_embed_container #overlay_prev .arrow {left: 0; background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedOverlayPrev.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #content_embed_container #overlay_next {right: 0}
.autogen_class_views_embeds_content #content_embed_container #overlay_next .arrow {right: 0; background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedOverlayNext.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar {position: absolute; bottom: 0; left: 0; right: 0; height: 29px; min-width: 340px; padding: 0; overflow: hidden; z-index: 5000; background: #f3f1ea; border: 1px solid #e5e5e5; box-shadow: inset 0 0 4px -1px #d3d5d6; text-align: center; /* So we can center the pagination container */ }
.autogen_class_views_embeds_content #toolbar.mobile_thumbnail {position: static; white-space: nowrap; overflow: hidden; text-align: left}
.autogen_class_views_embeds_content #toolbar.mobile_thumbnail .title_text {color: #464b4e; font-family: Helvetica, Arial, sans-serif; font-size: 22px; line-height: 36px; margin-left: 87px}
.autogen_class_views_embeds_content #toolbar .padding_wrapper {padding: 0 200px}
.autogen_class_views_embeds_content #toolbar a.logo {display: block; float: left; width: 82px; height: 25px; overflow: hidden; margin: 2px 15px 0 1px}
.autogen_class_views_embeds_content #toolbar a.logo.collapsed {margin-right: 0px}
.autogen_class_views_embeds_content #toolbar a.logo div {top: 0; width: 82px; height: 25px; background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonScribdLogo.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .fullscreen {padding-left: 31px}
.autogen_class_views_embeds_content #toolbar .fullscreen div {width: 30px; background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonFullscreen.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .exit_fullscreen {padding-left: 31px}
.autogen_class_views_embeds_content #toolbar .exit_fullscreen div {width: 30px; background: transparent url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonExitFullscreen.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .download, .autogen_class_views_embeds_content #toolbar .share, .autogen_class_views_embeds_content #toolbar .embed_code, .autogen_class_views_embeds_content #toolbar .buy_button, .autogen_class_views_embeds_content #toolbar .barnes_noble_buy_button, .autogen_class_views_embeds_content #toolbar .amazon_buy_button {margin-left: 0; margin-right: 24px; padding-left: 31px}
.autogen_class_views_embeds_content #toolbar .download div, .autogen_class_views_embeds_content #toolbar .share div, .autogen_class_views_embeds_content #toolbar .embed_code div, .autogen_class_views_embeds_content #toolbar .buy_button div, .autogen_class_views_embeds_content #toolbar .barnes_noble_buy_button div, .autogen_class_views_embeds_content #toolbar .amazon_buy_button div {width: 30px}
.autogen_class_views_embeds_content #toolbar .download span, .autogen_class_views_embeds_content #toolbar .share span, .autogen_class_views_embeds_content #toolbar .embed_code span, .autogen_class_views_embeds_content #toolbar .buy_button span, .autogen_class_views_embeds_content #toolbar .barnes_noble_buy_button span, .autogen_class_views_embeds_content #toolbar .amazon_buy_button span {line-height: 28px}
.autogen_class_views_embeds_content #toolbar .download div {background: transparent url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonDownload.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .share div {background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonShare.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .embed_code div {background: transparent url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonEmbed.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .buy_button {padding-left: 60px}
.autogen_class_views_embeds_content #toolbar .buy_button div {background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonBuy.png?1415832326') no-repeat top left; width: 59px}
.autogen_class_views_embeds_content #toolbar .barnes_noble_buy_button div {background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonBN.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .amazon_buy_button div {background: transparent url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonAmazon.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar #buttons_left .custom_buy_label {font-size: 10px; line-height: 11px; text-align: right; padding: 3px 5px 0 0}
.autogen_class_views_embeds_content #toolbar #buttons_left .custom_buy_buttons .expandable_button {display: inline-block; zoom: 1; *display: inline; margin-right: 3px}
.autogen_class_views_embeds_content #toolbar #buttons_left .custom_buy_buttons .expandable_button:last-child {margin-right: 24px}
.autogen_class_views_embeds_content #toolbar #buttons_left .custom_buy_buttons .expandable_button:last-child.collapsed {margin-right: 2px}
.autogen_class_views_embeds_content #toolbar .zoom_in, .autogen_class_views_embeds_content #toolbar .zoom_out {padding-left: 31px}
.autogen_class_views_embeds_content #toolbar .zoom_in div, .autogen_class_views_embeds_content #toolbar .zoom_out div {width: 30px}
.autogen_class_views_embeds_content #toolbar .zoom_in div {background: transparent url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonZoomIn.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .zoom_out div {background: transparent url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonZoomOut.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .yellow {padding-left: 8px}
.autogen_class_views_embeds_content #toolbar .yellow div {width: 5px; background: transparent url('https://s2-f.scribdassets.com/images/embeds/ControlsExtraYellowLeft.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar .expandable_button {font-size: 12px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #464b4e; display: block; height: 21px; position: relative; /* FUCK YOU IE6 */ _width: 0px; /* These are the divs that actually show the background */ }
.autogen_class_views_embeds_content #toolbar .expandable_button.exit_fullscreen {_width: 80px}
.autogen_class_views_embeds_content #toolbar .expandable_button.collapsed {margin-right: 2px}
.autogen_class_views_embeds_content #toolbar .expandable_button.collapsed span {display: none}
.autogen_class_views_embeds_content #toolbar .expandable_button span {position: relative}
.autogen_class_views_embeds_content #toolbar .expandable_button div {position: absolute; left: 0; top: 2px; height: 25px}
.autogen_class_views_embeds_content #toolbar .expandable_button:hover {text-decoration: none; background-position: 0 -25px}
.autogen_class_views_embeds_content #toolbar .expandable_button:hover div {background-position: 0 -25px}
.autogen_class_views_embeds_content #toolbar .expandable_button:active {background-position: right -50px; text-decoration: none}
.autogen_class_views_embeds_content #toolbar .expandable_button:active span {top: 1px}
.autogen_class_views_embeds_content #toolbar .expandable_button:active img {margin-top: 1px}
.autogen_class_views_embeds_content #toolbar .expandable_button:active div {background-position: 0 -50px}
.autogen_class_views_embeds_content #toolbar .expandable_button.yellow {line-height: 14px; font-size: 14px; background-image: url('https://s1-f.scribdassets.com/images/embeds/ControlsExtraYellow.png?1415832326')}
.autogen_class_views_embeds_content #toolbar .expandable_button.yellow img {float: left}
.autogen_class_views_embeds_content #toolbar .expandable_button.yellow.collapsed {padding-right: 8px}
.autogen_class_views_embeds_content #toolbar .expandable_button.yellow.collapsed span {display: inline}
.autogen_class_views_embeds_content #toolbar .expandable_button.yellow span {margin-left: 6px; color: white; font-weight: bold; text-shadow: 1px 1px 1px #b38400}
.autogen_class_views_embeds_content #toolbar #buttons_left, .autogen_class_views_embeds_content #toolbar #buttons_right {position: absolute; top: 0; list-style-type: none}
.autogen_class_views_embeds_content #toolbar #buttons_left li, .autogen_class_views_embeds_content #toolbar #buttons_right li {margin: 0; padding: 0; font-size: 14px}
.autogen_class_views_embeds_content #toolbar #buttons_left li.divider, .autogen_class_views_embeds_content #toolbar #buttons_right li.divider {width: 0px; height: 21px; border-left: 1px solid #d3d5d6; margin: 3px 5px}
.autogen_class_views_embeds_content #toolbar #buttons_left {left: 0}
.autogen_class_views_embeds_content #toolbar #buttons_left li {float: left}
.autogen_class_views_embeds_content #toolbar #buttons_right {right: 0}
.autogen_class_views_embeds_content #toolbar #buttons_right li {float: right}
.autogen_class_views_embeds_content #toolbar div#pagination_container {margin: 0 auto; width: 110px; height: 29px; background-color: #e5e2d6; box-shadow: inset 0px 0px 4px -1px #d3d5d6; overflow: hidden; text-align: center; vertical-align: middle}
.autogen_class_views_embeds_content #toolbar div#pagination_container.collapsed {width: 58px}
.autogen_class_views_embeds_content #toolbar div#pagination_container.collapsed .first_page_arrow, .autogen_class_views_embeds_content #toolbar div#pagination_container.collapsed .last_page_arrow {display: none}
.autogen_class_views_embeds_content #toolbar div#pagination_container a {display: inline-block; zoom: 1; *display: inline}
.autogen_class_views_embeds_content #toolbar div#pagination_container .left_arrow, .autogen_class_views_embeds_content #toolbar div#pagination_container .right_arrow {width: 24px; height: 25px; margin: 2px 1px 3px}
.autogen_class_views_embeds_content #toolbar div#pagination_container .left_arrow:hover, .autogen_class_views_embeds_content #toolbar div#pagination_container .right_arrow:hover {background-position: 0 -25px; text-decoration: none}
.autogen_class_views_embeds_content #toolbar div#pagination_container .left_arrow:active, .autogen_class_views_embeds_content #toolbar div#pagination_container .right_arrow:active {background-position: 0 -50px; text-decoration: none}
.autogen_class_views_embeds_content #toolbar div#pagination_container .left_arrow.inactive, .autogen_class_views_embeds_content #toolbar div#pagination_container .right_arrow.inactive {background-position: 0 -75px; cursor: default}
.autogen_class_views_embeds_content #toolbar div#pagination_container .first_page_arrow, .autogen_class_views_embeds_content #toolbar div#pagination_container .last_page_arrow {width: 22px; height: 20px; margin: 5px 1px}
.autogen_class_views_embeds_content #toolbar div#pagination_container .first_page_arrow:hover, .autogen_class_views_embeds_content #toolbar div#pagination_container .last_page_arrow:hover {background-position: 0 -20px; text-decoration: none}
.autogen_class_views_embeds_content #toolbar div#pagination_container .first_page_arrow:active, .autogen_class_views_embeds_content #toolbar div#pagination_container .last_page_arrow:active {background-position: 0 -40px; text-decoration: none}
.autogen_class_views_embeds_content #toolbar div#pagination_container .first_page_arrow.inactive, .autogen_class_views_embeds_content #toolbar div#pagination_container .last_page_arrow.inactive {background-position: 0 -60px; cursor: default}
.autogen_class_views_embeds_content #toolbar div#pagination_container .left_arrow {background: url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonPrevPage.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar div#pagination_container .right_arrow {background: url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonNextPage.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar div#pagination_container .first_page_arrow {background: url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonFirstPage.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar div#pagination_container .last_page_arrow {background: url('https://s2-f.scribdassets.com/images/embeds/EmbedButtonLastPage.png?1415832326') no-repeat top left}
.autogen_class_views_embeds_content #toolbar li#pages {margin-right: 5px}
.autogen_class_views_embeds_content #toolbar li#pages form {display: inline-block; zoom: 1; *display: inline}
.autogen_class_views_embeds_content #toolbar li#pages form input {width: 25px; height: 21px; margin-top: 3px; line-height: 21px; border: 1px solid #d3d5d6; border-radius: 3px; box-shadow: inset 0 1px 2px -1px #d3d5d6; outline: none; background: #ffffff; font-size: 15px; font-family: Helvetica; color: #464b4e; text-align: center}
.autogen_class_views_embeds_content #toolbar li#pages.collapsed .of, .autogen_class_views_embeds_content #toolbar li#pages.collapsed .total {display: none}
.autogen_class_views_embeds_content #toolbar li#pages .of, .autogen_class_views_embeds_content #toolbar li#pages .total {color: #464b4e; height: 27px; line-height: 27px; font-family: Georgia}
.autogen_class_views_embeds_content #toolbar li#pages .of {font-size: 12px; margin-left: 6px; margin-right: 4px}
.autogen_class_views_embeds_content #toolbar li#pages .total {font-size: 15px; margin: 0}


/* app/views/embeds/content_inner.css @ 1415744857 */
.autogen_class_views_embeds_content_inner {text-align: center; height: 100%}
.autogen_class_views_embeds_content_inner .outer_page {border: 1px solid #aaaaaa; margin: 15px auto 15px auto; /* Crazy Safari bug. We need this to prevent scrollbars from showing up due to phantom elements extending beyond the width of #document_content */ overflow: hidden}
.autogen_class_views_embeds_content_inner #document_container {border: 0; padding: 0; margin: 0; width: 100%; height: 100%}
.autogen_class_views_embeds_content_inner #document_container tr td {vertical-align: middle}
.autogen_class_views_embeds_content_inner .between_page_ads {display: none !important}
.autogen_class_views_embeds_content_inner #left_hotspot, .autogen_class_views_embeds_content_inner #right_hotspot {z-index: 1; cursor: pointer; width: 25%; height: 100%; position: fixed; top: 0}
.autogen_class_views_embeds_content_inner #left_hotspot {left: 0}
.autogen_class_views_embeds_content_inner #right_hotspot {right: 0}


/* app/views/embeds/download.css @ 1415744857 */
.autogen_class_views_embeds_download .container {height: 40px}


/* app/views/embeds/embed_code.css @ 1415744857 */
#embed_code_lb h2 {color: #464b4e; font-family: Georgia; font-weight: normal; margin-bottom: 5px}
#embed_code_lb .embed_code_container textarea {width: 300px; height: 75px; display: block; clear: both; margin-bottom: 12px}
#embed_code_lb hr {margin: 10px 0; background: transparent; border-bottom: 1px dashed #d3d5d6}
#embed_code_lb .doc_url_container input {width: 222px; height: 20px}
#embed_code_lb .copy_button_container {float: right; left: -4px; position: relative; width: 72px; height: 27px}
#embed_code_lb .copy_button {background: url('https://s1-f.scribdassets.com/images/embeds/EmbedButtonCopy.png?1415832326'); width: auto}
#embed_code_lb .copy_button.hover {background-position: 0 -27px}
#embed_code_lb .copy_button.active {background-position: 0 -81px}


/* app/views/embeds/embed_code.rb:8 @ 1415744857 */
button.standard_submit.copy {width: 147px; float: left}


/* app/views/embeds/_recommendations.css @ 1415744857 */
.recommendations_container {position: absolute; bottom: 29px; left: 0; right: 0; padding: 0; z-index: 5000; min-height: 29px}
.recommendations_container.stick_to_top {bottom: 31px; overflow-y: scroll}
.recommendations_container .document_list {position: relative}
.recommendations_container .document_list .document_cell {display: inline-block; zoom: 1; *display: inline; margin-top: 10px; margin-right: 30px}
.recommendations_container .document_list .list_content {position: relative; overflow: hidden; margin: 0}
.recommendations_container .document_list .sliding_content {font-size: 0; white-space: nowrap; position: absolute; top: 0; left: 0}
.recommendations_container .recommendations_page {display: none; background-color: white; padding-top: 10px; text-align: left}
.recommendations_container .recommendations_page.hidden {display: none}
.recommendations_container .recommendations_page .list_title {font-size: 14px; margin: 0 0 10px 5px; float: left; color: #8ea3ab}
.recommendations_container .recommendations_page .list_title a {font-weight: normal; padding: 0}
.recommendations_container .recommendations_page .document_cell.small {width: 120px}
.recommendations_container .recommendations_page .document_title {font-family: "Proxima Nova, sans-serif"; font-size: 14px}
.recommendations_container .recommendations_page .document_author {font-family: "Proxima Nova, sans-serif"; font-size: 12px}
.recommendations_container .recommendations_page .document_list {margin-left: 5px}
.recommendations_container .recommendations_page .logo_embed {margin: 10px 0 30px 5px}
.recommendations_container .recommendations_page .pagination {float: right; font-size: 13px}
.recommendations_container .recommendations_page .on_last_page .next {pointer-events: none; color: gray}
.recommendations_container .recommendations_page .on_first_page .previous {pointer-events: none; color: gray}
.recommendations_container .recommendations_page .small_image {width: 120px; height: 164px}
.recommendations_container .recommendations_nag {text-align: center; font-size: 12px; cursor: pointer; background: #3E7793}
.recommendations_container .recommendations_nag:hover {background: #4d92b4}
.recommendations_container .recommendations_nag div {height: 28px; overflow: hidden; text-overflow: ellipsis; width: 70%; margin: 0 auto}
.recommendations_container .recommendations_nag.stick_to_top .open_recommendations {display: inline-block; zoom: 1; *display: inline}
.recommendations_container .recommendations_nag.stick_to_top .open_recommendations:tilted_right {padding-left: 60px}
.recommendations_container .recommendations_nag.stick_to_top .closed_recommendations {display: none}
.recommendations_container .recommendations_nag .open_recommendations {display: none}
.recommendations_container .recommendations_nag .closed_recommendations {display: inline-block; zoom: 1; *display: inline}
.recommendations_container .recommendations_nag a {color: #FFFFFF; line-height: 28px}
.recommendations_container .recommendations_nag .sprite.close.white {position: absolute; right: 25px; top: 7px}
.recommendations_container .recommendations_nag .right {margin-right: 45px}
.recommendations_container .recommendations_nag .list_content {min-height: 348px}


/* app/views/embeds/share.css @ 1415744857 */
.social_button {display: inline-block; zoom: 1; *display: inline}
.social_button.fb_sb {position: relative; top: -2px; overflow: hidden}


/* app/views/embeds/unavailable.css @ 1415744857 */
.autogen_class_views_embeds_unavailable .embeds_error .lightbox {width: 400px; min-width: 300px; margin-left: auto; margin-right: auto; position: static; margin-top: 50px; text-align: center}
.autogen_class_views_embeds_unavailable .embeds_error .lightbox h1 {font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; font-size: 18px; color: #565b63; text-align: center; text-shadow: 1px 1px 1px white}
.autogen_class_views_embeds_unavailable .embeds_error .lightbox h2 {font-size: 14px; text-align: center; text-shadow: 1px 1px 1px white}
.autogen_class_views_embeds_unavailable .embeds_error .lightbox hr {border-top: 1px dotted #565b63; color: #565b63; background-color: #fff; height: 1px; width: 90%}
